.timerContainer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 40px;
    font-weight: bold;
    background-color: #3d1212;
    color: #fff;
    margin: 20px 0;
    
  }
  
  .icon {
    margin-right: 10px;
    font-size: 2rem;
    color: #fff;
  }
  
  .time {
    font-family: 'Courier New', monospace;
    font-size: 1.6rem;
  }
  